# After filling, copy this content to a file called ".env"
MYSQL_HOST=localhost
MYSQL_USER=           # enter username if you have user account, else root
MYSQL_PASSWORD=       # enter your password for that username
MYSQL_DB_NAME=CosmosDB
MYSQL_PORT=3306